{% extends 'tasks/base_tasks.html' %}

{% block title %}
{{ tag.title }} - {{ block.super }}
{% endblock %}

{% block heading %}
<h1 class='mb-5'>Tasks with "{{ tag.title }}" tag:</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for task in tag.tasks.all %}
        {% include 'tasks/includes/task_card_template.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block buttons %}
<a href="{% url 'tasks:tag_update_url' tag.id %}" class="btn btn-outline-info ml-2" role="button"
    aria-pressed="true">Update</a>
<a href="{% url 'tasks:tag_delete_url' tag.id %}" class="btn btn-outline-danger mx-2" role="button"
    aria-pressed="true">Delete</a>
{% endblock %}