{% extends 'tasks/base_tasks.html' %}
{% load i18n %}

{% block title %}
Tag create - {{ block.super }}
{% endblock %}

{% block heading %}
<h4>To add a new tag enter its title<br>and press the "Create tag" button</h4>
{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% trans 'Create tag' %}</h1>

    <form action=" {% url 'tasks:tag_create_url' %}" method="post">
        {% csrf_token %}
        <div class="form-group col-md-3">
            {% trans 'Title' %}: {{ form.title }}
            <button type="submit" class="btn btn-primary mt-3">{% trans 'Create' %}</button>
        </div>
    </form>

</div>

{% endblock %}
