{% extends 'tasks/base_tasks.html' %}

{% block title %}
Delete tag {{ tag.title }} - {{ block.super }}
{% endblock %}

{% block heading %}
<h4>"{{ tag.title }}" tag</h4>
{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<div class="container wrapper flex-grow-1">
    <h1 class="my-4">Удаление метки</h1>

    <form action=" {% url 'tasks:tag_delete_url' tag.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <p>Вы уверены, что хотите удалить метку "{{ tag.title }}"?</p>
            <a href="{% url "tasks:tags_list_url" %}">Cancel</a>
            <button type="submit" class="btn btn-danger">Да, удалить</button>
        </div>
    </form>
</div>


{% endblock %}
