{% extends 'tasks/base_tasks.html' %}
{% load i18n %}

{% block title %}
Delete tag {{ tag.title }} - {{ block.super }}
{% endblock %}

{% block heading %}
<h4>"{{ tag.title }}" tag</h4>
{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% trans 'Delete tag' %}</h1>

    <form action=" {% url 'tasks:tag_delete_url' tag.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <p>{% trans 'Are you sure you want delete tag' %} "{{ tag.title }}"?</p>
            <a href="{% url "tasks:tags_list_url" %}">{% trans 'Cancel' %}</a>
            <button type="submit" class="btn btn-danger">{% trans 'Yes, delete' %}</button>
        </div>
    </form>
</div>


{% endblock %}
