{% extends 'tasks/base_tasks.html' %}
{% load i18n %}

{% block title %}
Tags list - {{ block.super }}
{% endblock %}

{% block heading %}
<h1>Tags list</h1>
{% endblock %}

{% block content %}


<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% trans 'Tags' %}</h1>

    <a class="nav-link" href="{% url "tasks:tag_create_url" %}">{% trans 'Create tag' %}</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">{% trans 'Title' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in tags %}
            <tr>
                <th scope="row">{{ tag.id }}</th>
                <td>{{ tag.title }}</td>
                <td>
                    <a href="{% url 'tasks:tag_update_url' tag.id %}">{% trans 'Edit' %}</a>
                    <br>
                    <a href="{% url 'tasks:tag_delete_url' tag.id %}">{% trans 'Delete' %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container">
    <div class="row">
        <h1 class="col-sm-4 offset-md-0 mb-3">Tags:</h1>
    </div>

</div>

{% for tag in tags %}
<div class="container">
    <div class="row">
        <div class="col-sm-4 offset-md-1">
            <h4><a href="{{ tag.get_absolute_url }}"> - {{ tag.title }}</h4>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
