{% extends "tasks/base_tasks.html" %}

{% block title %}
{{ task.name }} - {{ block.super }}
{% endblock %}

{% block heading %}
<h2>{{ task.name }}</h2>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4 offset-md-1">
            <p>
                Description: {{ task.description }}<br>
                Status: {{ task.status }}<br>
                Creator: {{ task.creator }}<br>
                Assigned to: {{ task.assigned_to }}<br>
                Tags:
                {% for tag in task.tags.all %}
                <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                {% endfor %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
{% block buttons %}
<a href="{% url "tasks:task_update_url" task.id %}" class="btn btn-outline-info ml-2" role="button"
    aria-pressed="true">Update</a>
<a href="{% url "tasks:task_delete_url" task.id %}" class="btn btn-outline-danger mx-2" role="button"
    aria-pressed="true">Delete</a>
{% endblock %}