{% extends 'tasks/base_tasks.html' %}

{% block title %}
Delete task {{ task.name }} - {{ block.super }}
{% endblock %}

{% block heading %}
<h4>"{{ task.name }}" task</h4>
{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action=" {% url 'tasks:task_delete_url' task.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <h3>Are you sure you want to delete "{{ task.name }}" task?</h3>
        <a href="{% url 'tasks:tasks_list_url' %}">Cancel</a>
        <button type="submit" class="btn btn-danger">Delete</button>
    </div>
</form>
{% endblock %}