{% extends 'tasks/base_tasks.html' %}
{% load i18n %}

{% block title %}
Edit task - {{ block.super }}
{% endblock %}

{% block heading %}
<h4>Edit "{{ task.name }}" task</h4>
{% endblock %}

{% block content %}
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% trans 'Edit task' %} "{{ task.name }}"</h1>

    <form action=" {% url 'tasks:task_update_url' task.id %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group col-md-3">
            {% if field.errors %}
            <div class="alert alert-danger">
                {{ field.errors }}
            </div>
            {% endif %}
            <div class="form-group">
                {{ field.label }}
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Изменить">
        </div>
    </form>
</div>
{% endblock %}
