{% extends "tasks/base_tasks.html" %}

{% block title %}
{{ task.name }} - {{ block.super }}
{% endblock %}

{% block heading %}
<h2>{{ task.name }}</h2>
{% endblock %}

{% block content %}

<div class="container wrapper flex-grow-1">
    <h1 class="my-4">

        Просмотр задачи

    </h1>

    <div class="card">
        <div class="card-header bg-secondary text-white">
            <h2>{{ task.name }}</h2>
        </div>
        <div class="card-body bg-light">
            <p>{{ task.description }}</p>
            <hr>
            <div class="container">
                <div class="row p-1">
                    <div class="col">Автор</div>
                    <div class="col">{{ task.creator }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">Исполнитель</div>
                    <div class="col">{{ task.assigned_to }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">Статус</div>
                    <div class="col">{{ task.status }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">
                        <h6>Метки:</h6>
                        <ul>
                            {% for tag in task.tags.all %}
                            <li><a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row p-1">
                    <div class="col">
                        <a href="{% url "tasks:task_update_url" task.id %}">Изменить</a>
                        <br>
                        <a href="{% url "tasks:task_delete_url" task.id %}">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
