{% extends 'tasks/base_tasks.html' %}
{% load i18n %}

{% block title %}
Delete task {{ task.name }} - {{ block.super }}
{% endblock %}

{% block heading %}
<h4>"{{ task.name }}" task</h4>
{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% trans 'Delete task' %}</h1>

    <form action=" {% url 'tasks:task_delete_url' task.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <p>{% trans 'Are you sure you want delete task' %} "{{ task.name }}"?</p>
            <a href="{% url "tasks:tasks_list_url" %}">{% trans 'Cancel' %}</a>
            <button type="submit" class="btn btn-danger">{% trans 'Yes, delete' %}</button>
        </div>
    </form>
</div>

{% endblock %}
