{% extends "tasks/base_tasks.html" %}
{% load i18n %}

{% block title %}
Tasks list - {{ block.super }}
{% endblock %}


{% block content %}

<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% trans 'Tasks' %}</h1>

    <a class="nav-link" href="{% url "tasks:task_create_url" %}">{% trans 'Create task' %}</a>

    {% if filter.qs %}

    <div class="card mb-3">
        <div class="card-body bg-light">
            <form class="form-inline center" method="get">
                {% csrf_token %}
                <div class="form-group mr-3 ml-2">
                    <label>{% trans 'Status' %}</label>{{ filter.form.status }}
                </div>
                <div class="form-group mr-3 ml-2">
                    <label>{% trans 'Assigned_to' %}</label>{{ filter.form.assigned_to }}
                </div>
                <div class="form-group mr-3 ml-2">
                    <label>{% trans 'Tags' %}</label>{{ filter.form.tags }}
                </div>

                <div class="form-group">
                    <div class="mr-3">
                        <div class="form-check"><input type="checkbox" name="self_tasks" class="form-check-input"
                                id="id_self_tasks"><label class="form-check-label" for="id_self_tasks">Только свои
                                задачи</label>
                            {{ filter.form.creator }}
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <input class="btn btn-primary" type="submit" value={% trans 'Filter' %} />
            </form>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">{% trans 'Name' %}</th>
                <th scope="col">{% trans 'Status' %}</th>
                <th scope="col">{% trans 'Creator' %}</th>
                <th scope="col">{% trans 'Assignee' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for task in filter.qs %}
            <tr>
                <th scope="row">{{ task.id }}</th>
                <td>
                    <a href="{{ task.get_absolute_url }}">{{ task.name }}</a>
                </td>
                <td>{{ task.status }}</td>
                <td>{{ task.creator }}</td>
                <td>{{ task.assigned_to }}</td>
                <td>
                    <a href="{% url 'tasks:task_update_url' task.id %}">{% trans 'Edit' %}</a>
                    <br>
                    <a href="{% url 'tasks:task_delete_url' task.id %}">{% trans 'Delete' %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
<p>{% trans 'No tasks are available.' %}</p>
{% endif %}
{% endblock %}
