{% extends "tasks/base_tasks.html" %}
{% load i18n %}

{% block title %}
Tasks list - {{ block.super }}
{% endblock %}


{% block content %}

{% if tasks_list %}

<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% trans 'Tasks' %}</h1>

    <a class="nav-link" href="{% url "tasks:task_create_url" %}">{% trans 'Create task' %}</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">{% trans 'Name' %}</th>
                <th scope="col">{% trans 'Status' %}</th>
                <th scope="col">{% trans 'Creator' %}</th>
                <th scope="col">{% trans 'Assignee' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks_list %}
            <tr>
                <th scope="row">{{ task.id }}</th>
                <td>
                    <a href="{{ task.get_absolute_url }}">{{ task.name }}</a>
                </td>
                <td>{{ task.status }}</td>
                <td>{{ task.creator }}</td>
                <td>{{ task.assigned_to }}</td>
                <td>
                    <a href="{% url 'tasks:task_update_url' task.id %}">{% trans 'Edit' %}</a>
                    <br>
                    <a href="{% url 'tasks:task_delete_url' task.id %}">{% trans 'Delete' %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
<p>{% trans 'No tasks are available.' %}</p>
{% endif %}
{% endblock %}
