{% extends 'tasks/base_tasks.html' %}

{% block title %}
Delete task {{ task.name }} - {{ block.super }}
{% endblock %}

{% block heading %}
<h4>"{{ task.name }}" task</h4>
{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="container wrapper flex-grow-1">
    <h1 class="my-4">Удаление задачи</h1>

    <form action=" {% url 'tasks:task_delete_url' task.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <p>Вы уверены, что хотите удалить задачу "{{ task.name }}"?</p>
            <a href="{% url "tasks:tasks_list_url" %}">Cancel</a>
            <button type="submit" class="btn btn-danger">Да, удалить</button>
        </div>
    </form>
</div>

{% endblock %}
