<div class="col-sm-2">
    <div class="card mb-3">
        <div class="card-header">
            {{ task.status }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ task.name }}</h5>
            <p class="card-text">{{ task.description|truncatewords:10 }}</p>
            <a href="{{ task.get_absolute_url }}" class="btn btn-light">Open task</a>
        </div>
        <div class="card-footer text-muted">
            Tags:
            {% for tag in task.tags.all %}
            <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
            {% endfor %}
        </div>
    </div>
</div>