<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block title %}
        Task manager
        {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'tasks:my_tasks_list_url' %}">My tasks</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'tasks:tags_list_url' %}">Tags</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'tasks:status_list_url' %}">Status</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'tasks:assigned_to_list_url' %}">Assigned to</a>
                </li>
                {% if request.user.is_authenticated %}
                <li>
                    <div class="dropdown">
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Create
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url "tasks:task_create_url" %}">Task</a>
                            <a class="dropdown-item" href="{% url "tasks:tag_create_url" %}">Tag</a>
                        </div>
                    </div>
                </li>
                <li>
                    {% block buttons %}
                    {% endblock %}
                </li>
                {% endif %}
            </ul>

            <div class="sidebar-nav m-2">
                {% if request.user.is_authenticated %}
                User: {{ user.get_username }}
                <a href="{% url 'logout' %}">Log out</a>
                {% else %}
                <a href="{% url 'login' %}">Log in</a>
                <a href="{% url 'sign_up_url' %}">Sign up</a>
                {% endif %}
            </div>

            {% if request.user.is_authenticated and request.user.is_staff %}
            <a href="/admin" class="btn btn-outline-info px-md-4" role="button" aria-pressed="true">Admin</a>
            {% endif %}
        </div>
    </nav>
    <div class="jumbotron text-center">
        {% block heading %}
        Task manager
        {% endblock %}
    </div>
    {% block content %}
    There is no content yet
    {% endblock %}
</body>

</html>